:root {
    --button-size: 1.5rem;
}
::-webkit-scrollbar {
    width: 0 !important;
}
body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html {
    overflow-x: hidden;
}
*,
html {
    margin: 0;
    padding: 0;
}

/* .root {
    width: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
} */
.navbar {
    position: relative;
    /* top: 0; */
    /* width: 100vw; */
    padding: 10px;
    /* color:white; */
    color: black;
    background-color: hsl(51, 100%, 50%);
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
}
.navbar h1 {
    margin-left: 10px;
    font-family: "Courier New", Courier, monospace;
}

.navbar .icon {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    right: 10px;
    top: calc(50% - 0.75rem);
    size: 50px;
    font-size: var(--button-size);
    cursor: pointer;
}

.icon svg {
    color: black !important;
}
footer {
    padding: 10px;
    width: 100vw;
    text-align: center;
    font-size: 0.7rem;
    position: fixed;
    bottom: 0;
    color: gray;
}

/* Notes */
.notes {
    /* padding: 20px; */
    /* margin: 10px; */
    /* width: 100%; */
    margin: 2%;
    width: 96%;
    grid-gap: 2%;

    display: grid;
    /* grid-gap: 20px; */
    grid-template-columns: repeat(5, 1fr);

    /* align-items: center; */
    /* justify-content: center; */
    /* flex-direction: column  ; */
    /* flex-wrap: wrap; */
    /* margin: 0 auto; */
}

.note {
    /* width: 50%; */
    /* max-width: 25%; */
    /* border: 2px solid black; */
    padding: 0.7rem;
    position: relative;
    max-height: 300px;
    overflow-y: scroll;
    /* transition: all 10s; */
    /* margin: 1rem; */
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
    border-radius: 5px;
    /* text-align: justify; */
}

.note__title {
    border-bottom: 1px solid black;
    padding: 10px 0;
    width: 100%;
    word-wrap: break-word;
}

.note__content {
    padding: 5px 0;
    word-wrap: break-word;

}

/* Pop up for Add note */

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0 auto;
    /* background: rgb(0, 0, 0); */
    background-color: hsl(51, 100%, 50%);
}

.popup__inner {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 25%;
    top: 15%;
    right: 25%;
    bottom: 15%;
    margin: 0 auto;
    padding: 20px;
    /* width: 100%; */
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
}

.inner__title {
    display: flex;
    position: relative;
    margin: 5px 0;
}

.inner__title button {
    position: absolute;
    border-radius: 5px;
    cursor: pointer;
    right: 0;
}

.plus__icon {
    font-size: 1rem;
}

.btn {
    background-color: rgb(53, 199, 34);
    padding: 0.5rem;
    border: none;
    color: white;
    text-decoration: none;
}
.delete {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 15px;
    right: 20px;
    /* width: 30px;
    height: 30px; */
    padding: 0;
    outline: none;
    color: rgb(202, 42, 42);
    display: flex;
    justify-content: center;
    padding: 5px;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;
}

.delete svg {
    font-size: 1.2rem;
}

.add_title {
    font-family: sans-serif;
    font-weight: bold;
}

.add_title,
.add_content {
    padding: 10px;
    font-size: 1.2rem;
    margin: 5px 0;
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgb(0, 0, 0, 0.1);
}

.add_content {
    font-size: 1rem;
    height: 100%;
    resize: none;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}

.error {
    /* display: grid;
    place-items: center;
    place-content: center; */
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.empty {
    color: gray;
    opacity: 0.7;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 1070px) {
    .notes {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media screen and (max-width: 850px) {
    .notes {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 600px) {
    .notes {
        grid-template-columns: 1fr;
        margin: 5%;
        width: 90%;
        grid-gap: 4%;
        margin-bottom: 200px;
        /* padding: 0;
        margin: 0 auto; */
        /* margin: 0 auto; */
    }
    .note {
        /* max-width: 90%; */
        width: 90%;
        margin: 0 auto;
        box-shadow: 0 0 3px rgb(0, 0, 0, 0.3), inset 0 0 3px rgb(0, 0, 0, 0.3);
    }

    .note:first-child {
        margin-top: 15px;
    }

    .popup__inner {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 0;
    }
    .inner__title {
        margin-bottom: 20px;
    }
    .add_title {
        padding: 10px 20px;
    }
    .add_content {
        padding: 20px;
    }
    .add_content,
    .add_title {
        box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
    }
}
